<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using Plain HTML in PUG</title> -->
    <title>#{content}</title>
    style 
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Contact</a></li>
        </ul>
    </nav>
    <div class="container">

        <h1>GET THIS GYM MEMBERSHIP FOR 60$</h1>
        //- <!-- <p>
        //-     |#{content}<!-- This is a plain HTML in PUG -->
        //- </p> -->
        <form action="/" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter name">
            <input type="text" name="age" id="age" placeholder="Enter age">
            <input type="text" name="gender" id="gender" placeholder="Enter gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="enter address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>

    
</body>
</html>