/* CSS reset  */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* CSS variables */
:root {
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

/* Navigation bar logo and image */
#logo {
    margin: 10px 10px;

}

#logo img {
    height: 56px;
    margin: 3px 3px;

}

/* Navigation bar List styling */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    top: 0;
    left: 0;
}

#navbar ul {
    display: flex;
    font-family: "Bree Serif", serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

/* Home Section */
#home {
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg) no-repeat center center/cover;
    position: absolute;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0;
    left: 0;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Bree Serif", serif;
}

/* services section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;

    border: 2px solid brown;
}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: "Bree Serif", serif;
}

/* Clients section */
#client-section {
    position: relative;

}

#client-section::before {
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;

}

#clients img {
    height: 124px;

}

.client-item {
    padding: 34px;
}

/* Contact section */
#contact {
    position: relative;

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(https://cdn.pixabay.com/photo/2015/01/25/21/02/phone-612061_1280.jpg) no-repeat center center/cover;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 40%;

}

#contact-box label {
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer {
    background-color: black;
    padding: 9px 20px;
    color: white;

}

/* utility class */
.h-primary {
    font-family: "Bree Serif", serif;
    font-size: 3.8rem;
    padding: 12px;

}

.h-secondary {
    font-family: "Bree Serif", serif;
    font-size: 2.3rem;
    padding: 12px;

}

.btn {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.center {
    text-align: center;
}